/backup_data/
.DS_Store
/backend/expenses/__pycache__/
/backend/backend/__pycache__/
/backend/api/__pycache__/
/backend/expenses/migrations/__pycache__/
/backend/api/migrations/__pycache__/
/backend/.env
/backend/backend/
backend/db.sqlite3
backend/backend/settings.py
backend/backend/__pycache__/wsgi.cpython-39.pyc
backend/backend/__pycache__/urls.cpython-39.pyc
backend/backend/__pycache__/settings.cpython-39.pyc
backend/backend/__pycache__/__init__.cpython-39.pyc
backend/api/migrations/__pycache__/__init__.cpython-39.pyc
backend/api/__pycache__/views.cpython-39.pyc
backend/api/__pycache__/urls.cpython-39.pyc
backend/api/__pycache__/serializer.cpython-39.pyc
backend/api/__pycache__/models.cpython-39.pyc
backend/api/__pycache__/jwt.cpython-39.pyc
backend/api/__pycache__/apps.cpython-39.pyc
backend/api/__pycache__/admin.cpython-39.pyc
backend/db.sqlite3
