.test{
    margin-top: 10px;
   position: absolute;
   align-items: center;
   text-align: center;
   margin-left: auto;
}
.logout{
    position: fixed;
    top: px;
    right:10px;
    width: 100px;
    
}
